NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_h4wnvkf
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_z7axu1f
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=THuDwCOs3ZXP2ZnCF
NEXT_PUBLIC_EMAILJS_BOOKING_TEMPLATE_ID=template_j5x9h5d
